@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.backgroundImage{
    background-image: url('');
}
.swiper{
    padding: 0;
    margin: 0;
}

.swiper-pagination-bullet{
    background-color: #DDDDDD;
    
}

.swiper-pagination-bullet-active{
    background-color: white;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active .swiper-pagination-bullet-active-main{
    color: white;

}
/* .swiper-pagination-bullet-active-main{
color: white;
background-color: yellow;
} */
.swiper-button-prev{
    color: rgb(213, 212, 212);
    display: none;
    transition: 500ms;

    
}
.swiper-button-next{
    color: rgb(213, 212, 212);
    display: none;
    transition: 500ms;

    
}
.swiper:hover .swiper-button-next{
    display: block;
    transition: 500ms;
}
.swiper:hover .swiper-button-prev{
    display: block;
    transition: 500ms;
}
