@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.backgroundImage{
    background-image: url('');
}
.swiper{
    padding: 0;
    margin: 0;
}
.swiper-pagination{
  
}
.swiper-pagination-bullet{
    background-color: white;
    
}

.swiper-pagination-bullet-active{
    background-color: white;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active .swiper-pagination-bullet-active-main{
    color: white;

}
/* .swiper-pagination-bullet-active-main{
color: white;
background-color: yellow;
} */